.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
sandbox/build/classes/java/main/MySecondProgram.class
.idea/workspace.xml
sandbox/build/libs/sandbox.jar
sandbox/build/tmp/jar/MANIFEST.MF
.idea/misc.xml
.idea/modules/java_rep-addressbook-web-tests_test.iml
.idea/modules/java_rep-addressbook-web-tests_main.iml
.idea/modules/addressbook-web-tests.iml
addressbook/build/test-results/testContacts/TEST-ru.stqa.rep.addressbook.tests.ContactCreationTests.xml
addressbook/build/test-results/testContacts/TEST-ru.stqa.rep.addressbook.tests.ContactCreationTests.xml
addressbook/build/test-results/testContacts/TEST-ru.stqa.rep.addressbook.tests.ContactCreationTests.xml
addressbook/build/test-results/testContacts/TEST-ru.stqa.rep.addressbook.tests.ContactCreationTests.xml
addressbook/build/test-results/testContacts/TEST-ru.stqa.rep.addressbook.tests.ContactCreationTests.xml
addressbook/build/test-results/testContacts/TEST-ru.stqa.rep.addressbook.tests.ContactModificationTests.xml
addressbook/build/tmp/testGroups/jar_extract_2988964239623797680_tmp
addressbook/build/tmp/testGroups/jar_extract_3134962705199642650_tmp
addressbook/build/tmp/testGroups/jar_extract_3196726212071379608_tmp
addressbook/build/tmp/testGroups/jar_extract_3197902765119481182_tmp
addressbook/build/tmp/testGroups/jar_extract_3299019603085541145_tmp
addressbook/build/tmp/testGroups/jar_extract_3578270446655514521_tmp
addressbook/build/tmp/testGroups/jar_extract_9134143165240294294_tmp
addressbook/build/tmp/testGroups/jar_extract_9053463659144234035_tmp
addressbook/build/tmp/testGroups/jar_extract_9017341296213835510_tmp
addressbook/build/tmp/testGroups/jar_extract_9016204241138328204_tmp
addressbook/build/test-results/testGroups/TEST-ru.stqa.rep.addressbook.tests.GroupModificationTests.xml
addressbook/build/test-results/testGroups/TEST-ru.stqa.rep.addressbook.tests.GroupDeletionTests.xml
addressbook/build/test-results/testGroups/TEST-ru.stqa.rep.addressbook.tests.GroupCreationTests.xml
addressbook/build/reports/tests/testContacts/classes/ru.stqa.rep.addressbook.tests.ContactCreationTests.html
addressbook/build/reports/tests/test/index.html
addressbook/build/test-results/testGroups/TEST-ru.stqa.rep.addressbook.tests.GroupModificationTests.xml
addressbook/build/reports/tests/testContacts/classes/ru.stqa.rep.addressbook.tests.ContactCreationTests.html
addressbook/build/reports/tests/testGroups/classes/ru.stqa.rep.addressbook.tests.GroupDeletionTests.html
addressbook/build/reports/tests/test/css/base-style.css
addressbook/build/reports/tests/test/css/base-style.css
addressbook/build/tmp/testContacts/jar_extract_3504884786299750567_tmp
addressbook/build/tmp/testContacts/jar_extract_3535925041673919725_tmp
addressbook/build/tmp/testContacts/jar_extract_2966217643734289674_tmp
addressbook/build/tmp/testContacts/jar_extract_2833689333311246561_tmp
addressbook/build/tmp/testContacts/jar_extract_3918704823472108663_tmp
addressbook/build/tmp/testContacts/jar_extract_3855833543721355546_tmp
addressbook/build/tmp/testContacts/jar_extract_3808769214895050209_tmp
addressbook/build/tmp/testContacts/jar_extract_5546236537967238843_tmp
addressbook/build/tmp/testContacts/jar_extract_583803893788445173_tmp
