<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Groups" >
        <classes>
            <class name="ru.stqa.rep.addressbook.tests.GroupCreationTests" />
            <class name="ru.stqa.rep.addressbook.tests.GroupModificationTests" />
            <class name="ru.stqa.rep.addressbook.tests.GroupDeletionTests" />
        </classes>
    </test>

    <test name="Contacts">
        <classes>
            <class name="ru.stqa.rep.addressbook.tests.ContactCreationTests"/>
            <class name="ru.stqa.rep.addressbook.tests.ContactModificationTests"/>
            <class name="ru.stqa.rep.addressbook.tests.ContactDeletionTests"/>
        </classes>
    </test>
</suite>